<% include header %>

<div class="topnav">
    <a class="active" href="/index">Home</a>
<div class="topnav-right">
    <a href="/tic-tac-toe">Game</a>
    <a href="/contact-me">Contact</a>
</div>
</div>           
<div style="padding-left:16px">
</div>
<div style="padding-left:16px">
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-8">
            <header>
                <h2>Hey Guys!</h2>
            </header>
            <main>
                <article>
                    <h2>......................</h2>
                    <aside>
                        <h3 class="aside-header"> Myself</h3>
                        <ul>
                            <li>
                                <p>I love playing Badminton.
                                    I like learning new things from new people and I would love to share my
                                    experiences with people.</p>
                            </li>
                        </ul>

                    </aside>
                    <section>
                        <h3 class="section-header">Currently</h3>
                        <p>I am an International Student doing my first semester in Masters of Applied Computer
                            Science.</p>
                    </section>
                    <section id="Past-section">
                        <h3>Previous</h3>
                        <p>I am from India, and I have completed my Bachelors Degree in Electrical and Electronics
                            field in St.Martins Engineering College, Hyderabad.<br />
                            I really don't have any experience as I passed out my Bachelors recently.</p>
                    </section>
                    <section id="Future-section">
                        <h3>Later</h3>
                        <p>I am not sure where I will be working in future, but my area of interest is in
                            Designing.<br />As of now I knew little bit of coding, so I am also interested to work
                            as a Developer.<br /> As I was an Electrical student I am not sure how it works out for
                            me, but I hope things go better.</p>
                    </section>
               


                </article>

            </main>
            </div>
            <div class="col-md-4">
                <img src="/images/IMG_3952.jpeg" class="img-circle" alt="Sanjana">
            </div>
    </div>
</div>

            <hr>
            <iframe width="1300" height="700" src="https://www.youtube.com/embed/O5EPzgV4kVo"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
        
    
    <!-- /container -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <% include footer %>
